<html dir="ltr">
<head>
  <title>¬{{=it.subject}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css" id="owaParaStyle">P {margin-top:0;margin-bottom:0;}</style>
</head>
<body ocsi="0" fpstyle="1">

  <div style="direction:ltr; font-family:Tahoma; color:#000000; font-size:10pt">
    <br>
    <div style="font-family:Times New Roman; color:#000000; font-size:16px">
      <div id="divRpF596754" style="direction:ltr">
        <img src="https://www.jacobs-university-usg.de/img/mail/header.png" style="font-family:Tahoma; font-size:10pt">
      </div>
      <div>
        <div style="direction:ltr; font-family:Tahoma; color:#000000; font-size:10pt">
          <div style="font-family:Times New Roman; color:#000000; font-size:16px">
            <div>
              <div style="direction:ltr; font-family:Tahoma; color:#000000; font-size:10pt">
                <div style="font-family:Times New Roman; color:#000000; font-size:16px">
                  <div>
                    <div style="direction:ltr; font-family:Tahoma; color:#000000; font-size:10pt">
                      <div style="font-family:Times New Roman; color:#000000; font-size:16px">
                        <div>
                          <div style="direction:ltr; font-family:Tahoma; color:#000000; font-size:10pt">
                            <div style="font-family:Times New Roman; color:#000000; font-size:16px">
                              <div>
                                <div style="direction:ltr; font-family:Tahoma; color:#000000; font-size:10pt">
                                  <div>
                                    {{=it.content}}
                                  </div>
                                  <div>
                                    <font face="Times New Roman">
                                      <br>
                                    </font>
                                  </div>
                                  <div>
                                    <span style="font-size:10pt">
                                      <br>
                                    </span>
                                  </div>
                                  <div>
                                    <a href="https://www.jacobs-university-usg.de/"><img src="https://www.jacobs-university-usg.de/img/mail/button_www.png"  alt="USG Website" style="font-size:10pt; width:157px; height:47px"></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <a href="https://www.facebook.com/USG.jacobs"><img src="https://www.jacobs-university-usg.de/img/mail/button_fb.png" alt="USG Facebook" style="font-size:10pt; width:157px; height:47px"></a>
                                  </div>
                                  <div>
                                    <div style="font-family:Tahoma; font-size:13px">
                                      <div style="font-family:Tahoma; font-size:13px">
                                        <div style="font-family:Tahoma; font-size:13px">
                                          <div style="font-family:Tahoma; font-size:13px">
                                            <div style="font-family:Tahoma; font-size:13px">
                                              <div style="font-family:Tahoma; font-size:13px">
                                                <div style="font-family:Tahoma; font-size:13px">
                                                  <br>
                                                  <p></p>
                                                </div>
                                                <div style="font-family:Tahoma; font-size:13px">
                                                  <div style="font-size:14px; margin:0px">
                                                    <br>
                                                  </div>
                                                  <div style="font-size:14px">
                                                    <font face="Segoe UI,Helvetica,Arial,sans-serif" size="3"></font>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
